/* App.css */

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fac4e4; /* white background */
  padding: 10px 80px;
  border-bottom: 1px solid #ddd;
}

.logo img {
  height: 120px;
}

.navRight {
  display: flex;
  align-items: center;
}

.navRight a {
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 10px;
  text-decoration: none;
  color: #070707; /* black text color */
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: bold; /* make the text bold */
}

.navRight a:hover {
  background-color: #ffaee1; /* light pink background on hover */
}

.navRight a.active {
  background-color: #fc96d0; /* pink background when active */
  color: rgb(253, 242, 242); /* white text when active */
}

.logoutButton {
  background: none;
  border: none;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.logoutButton:hover {
  color: red; /* Change color on hover */
}
