.bodyTask {
  margin: auto;
  text-align: center;
  background-color: #fbe6f2;
  padding: 2rem;
  padding-inline: 3rem;
  width: 90%;
  height: auto;
  border-radius: 40px;
  box-sizing: border-box;
  box-shadow: rgba(149, 157, 165, 0.15) 0px 3px 6px 0px;
}

.addTask {
  width: calc(50% - 100px);
  color: rgb(36, 35, 42);
  font-size: 16px;
  line-height: 20px;
  min-height: 28px;
  border-radius: 4px;
  padding: 8px 16px;
  border: 2px solid transparent;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
  background: rgb(251, 251, 251);
  transition: all 0.1s ease 0s;
  :focus {
    border: 2px solid rgb(124, 138, 255);
  }
}

.selectSort {
  margin-left: 10px; /* Add margin */
}

.custom-select {
  margin: 10px 10px;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 9px;
  padding: 8px 3px;
  font-size: 20px;
  border-bottom: 4px solid #f9a8d4;
  font-weight: 700;
  line-height: 40px;
}

.addButton {
  display: inline-block;
  margin: 10px 10px;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 9px;
  padding: 8px 25px;
  font-size: 16px;
  border-bottom: 4px solid #f9a8d4;
  font-weight: 700;
  line-height: 26px;
}

.clearButton {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 9px;
  padding: 8px 16px;
  font-size: 16px;
  border-bottom: 4px solid #f9a8d4;
  font-weight: 700;
  line-height: 26px;
}

.doneButton {
  margin: 2px;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 9px;
  padding: 4px 10px;
  font-size: 18px;
  border-bottom: 4px solid #f9a8d4;
  font-weight: 500;
  line-height: 15px;
}

.taskList {
  font-size: 20px;
  background-color: #fbe6f2;
  text-align: center;
}

ul {
  list-style-type: none;
}

.eachTask {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
}

.spanTask {
  flex-grow: 1;
  text-align: center;
}

.btnContainer {
  display: flex;
}
